# OS
.DS_Store
.vscode
*.img
*.iso
*.zip
*.bak
*.tmp

# Logs
*.log

# Rust build artifacts
rust-recovery/target/
rust-recovery/Cargo.lock

# Specific project output
recovery_output/
recovery_output_test/
audit/
audit.zip
